/* div.css-j5r0tf.e1tzin5v2 {
    background-color: blueviolet;
} */

label.css-1c8hduo.e16fv1kl2 {
    font-size: 35px;
}


div.css-1wivap2.e16fv1kl3 {
    color: white;
}

div.css-1xarl3l.e16fv1kl1 {
    font-size: 60px;
}

button.css-w8lneb.edgvbvh11 {
    background-color: #6D23FF;
    border-color: yellow;
    font-weight: bold;
}