@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS */
.css-1qn602h[kind="secondaryFormSubmit"] {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  height: 35px;
  font-size: 40px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 120px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.css-1qn602h[kind="secondaryFormSubmit"]:active,
.css-1qn602h[kind="secondaryFormSubmit"]:hover {
  outline: 0;
  color: whitesmoke;
}

.css-1qn602h[kind="secondaryFormSubmit"] span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.css-1qn602h[kind="secondaryFormSubmit"]:hover span {
  background: none;
}

@media (min-width: 768px) {
  .css-1qn602h[kind="secondaryFormSubmit"] {
    font-size: 24px;
    min-width: 175px;
  }
}
.css-6qob1r .css-czbs5b {
  position: relative;
  bottom: 100%;
  width: 25%;
}

.css-6qob1r {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 31%, rgba(85,0,255,1) 100%);
}

.h1, .button, body {
  font-family: 'Roboto', sans-serif;
}

/* CSS */

/* CSS */
.css-1fdqkex.edgvbvh10, .css-czbs5b {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 45px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.css-1fdqkex.edgvbvh10:hover, .css-czbs5b:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
  color: whitesmoke;
}

.css-1fdqkex.edgvbvh10:active, .css-czbs5b:active {
  outline: 0;
}

.css-1fdqkex.edgvbvh10:focus, .css-czbs5b:active {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .css-1fdqkex.edgvbvh10, .css-czbs5b {
    height: 48px;
  }
}

.css-1c8hduo {
  color:whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}

.st-bt {
  border-bottom-color: grey;
}
.st-bs {
  border-top-color: grey;
}
.st-br {
  border-right-color: grey;
}
.st-bq {
  border-left-color: grey;
}

.css-6qob1r {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: overlay;
}